.statsbox {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 8px solid rgb(83, 46, 11);
    background-color: rgb(66, 31, 7);
    width: 500px;
    height: auto;
    max-height: 520px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Garamond;
    color: white;
}

.filters {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-bottom: 5px;
}

select {
    height: 23px;
    width: 80px;
    color: white;
    background-color: rgb(36, 17, 4);
}

input {
    width: 120px;
}

.stats_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    min-height: 0;
}

.scores {
    font-family: Garamond;
    color: white;
    background-color: rgb(24, 23, 23);
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;  
}

.score_row {
    display: flex;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 100%;  
}

.score_cell {
  flex: 1;
  text-align: left;
  padding: 2px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

.score_cell:nth-child(1) { flex: 1; border-right: 1px solid #ccc; }
.score_cell:nth-child(2) { flex: 1; border-right: 1px solid #ccc; }
.score_cell:nth-child(3) { flex: 1; text-align: center; border-right: 1px solid #ccc; }
.score_cell:nth-child(4) { flex: 1; text-align: left; }