.statsbox {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border-radius: 20px;
    background-color: rgb(66, 31, 7);
    width: 400px;
    height: 600px;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Garamond;
    color: white;
}

.scores {
    font-family: Garamond;
    color: white;
    background-color: rgb(24, 23, 23);
}

select {
    height: 23px;
    width: 80px;
    color: white;
    background-color: rgb(36, 17, 4);
}

input {
    width: 120px;
}

.filters {
    display: flex;
    flex-direction: row;
}