.box {
    clear: both;
    background-color: #e0deda;
    padding: 3rem;
    border-radius: 20px;
    border: 10px solid #472d0b;
}

.text {
    font-family: 'Press Start 2P';
    color: rgb(0, 0, 0);
    margin: 0;
}