.user_box {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(66, 31, 7);
    border: 8px solid rgb(83, 46, 11);
    width: 200px;
}

.name {
    font-family: garamond;
    font-size: 30px;
    color: rgb(226, 215, 215);
    text-align: center;
    margin: 0;
}

.image-button {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 8px;
}

.picture {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    pointer-events: none;
}

.image-button:hover .overlay {
    opacity: 1;
}

.user_stats_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    min-height: 0;
}

.game_stats{
    display: flex;
    flex-direction: column;
}

.game_name {
    font-family: 'Garamond';
    color: rgb(226, 215, 215);
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
}

.user_score_row {
    display: flex;
    flex-direction: row;
    font-family: 'Garamond';
    color: rgb(226, 215, 215);
    background-color: rgb(24, 23, 23);
    width: 100%;  
}

.score_label {
    width: 50%;
    padding-left: 5px;
    border-right: 1px solid #ccc;
}

.user_score {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.other_stats {
    display: flex;
    flex-direction: row;
    font-family: 'Garamond';
    color: rgb(226, 215, 215);
    background-color: rgb(24, 23, 23);
    width: 100%;
    border-top: 1px solid #ccc;
}