.user_box {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(66, 31, 7);
    border: 8px solid rgb(83, 46, 11);
    width: 200px;
}

.name {
    font-family: garamond;
    font-size: 30px;
    color: rgb(226, 215, 215);
    text-align: center;
    margin: 0;
}

.stat_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin: 10px 0;
}

.stat {
    font-family: 'Garamond';
    font-size: 10px;
    color: rgb(226, 215, 215);
}

.image-button {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 8px;
}

.picture {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    pointer-events: none;
}

.image-button:hover .overlay {
    opacity: 1;
}