.playbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.scoreboard-position {
  padding-top: 5%;
}

.gamescreen-position {
  display: flex;
  justify-content: center;
}

.scoreboard {
  list-style: none;
  padding: 0;
  clear: both;
  background-color: rgb(66, 31, 7);
  padding: 30px;
  border-radius: 25px;
  border: 3px solid #472d0b;
}

.scoretext {
  display: flex;
  flex-direction: row;
  font-family: Garamond;
  color: rgb(255, 255, 255);
  background-color: rgb(24, 23, 23);
  width: 100%;
  border: 1px solid #ccc;
}

.rank {
  width: 10%;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.top_name {
  width: 40%;
  border-right: 1px solid #ccc;
  padding-bottom: 5px;
  padding-left: 5px;
}

.top_score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
  .game-layout {
        flex-direction: column;
        align-items: center;
    }
}