body {
    background-color: rgb(16, 63, 22);
    min-height: 100vh;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 80pt;
    font-weight: 1000;
    padding: 1rem;
    background: linear-gradient(to bottom, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {

    .header {
        font-size: 40pt;
    }
}